#button-lister{
    --background: #FDFEAE;
    --background-hover: black;
    --background-focused: black;
  
    --color: #57382B;
  

  
    --box-shadow: none;
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;

    margin-top: 50px;
    float: right;
    margin-right: 5px;
}

.button-native, .button-inner{
    margin-right: 0;
    padding: 0;
    margin: 0;
}

.custom-alert{
    --backdrop-opacity: 0;
}