.ion-page {
    --background: red;
}

.content-wrapper {
    background-color: #57382B;
    width: 100%;
    height: 100%;
}

ion-fab-button {
    position: absolute;
    top: 540px;
    left: 280px;
    font-size: 5px;
}