
<ion-content>
  <ion-segment class="SegBaggrund" color="secondary" value="secondary">
    <ion-segment-button value="secondary" (click)="navigateToIndkoeb()">
      <ion-label  class="hvidtekst">Indkøb</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Secondary" (click)="navigateToTilbud()">
      <ion-label class="hvidtekst">Tilbud</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid class="GridBaggrund">
    <ion-row>
      <ion-col>
        <ion-header [translucent]="true">
          <!--Fejl - Ikon vises ikke-->
          <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
        </ion-header>
      </ion-col>
      <ion-col class="col-midt">[Netto listen]</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
