
<ion-header>
  <ion-segment class="SegBaggrund" color="secondary" value="secondary">
    <ion-segment-button [ngClass]="{ 'active': activeButton === 'lister' }" value="Secondary" (click)="navigateToLister()">
  <ion-label class="hvidtekst">Lister</ion-label>
</ion-segment-button>
<ion-segment-button [ngClass]="{ 'active': activeButton === 'indkoeb' }" value="secondary" (click)="navigateToIndkoeb()">
  <ion-label class="hvidtekst">Indkøb</ion-label>
</ion-segment-button>
<ion-segment-button [ngClass]="{ 'active': activeButton === 'tilbud' }" value="Secondary" (click)="navigateToTilbud()">
  <ion-label class="hvidtekst">Tilbud</ion-label>
</ion-segment-button>
  </ion-segment>
  <ion-grid class="GridBaggrund">
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col class="col-midt">{{ pageTitle }}</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


