<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tilbud</ion-title>
  </ion-toolbar>
</ion-header>




<ion-grid>
  <ion-row>

    <div class="btn-controller ion-text-center ion-no-padding ion-no-margin">

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>

        <ion-col size="12 ">
          <ion-button class="button-style">Netto</ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>

        <ion-col size="12">
          <ion-button class="button-style">Lidl</ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>

        <ion-col size="12">
          <ion-button class="button-style">Føtex</ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>

    </div>

  </ion-row>
</ion-grid>


