.btn-controller{
    position: relative;
   top: 8rem;

}
.button-style{
    --background: rgb(118, 81, 66);
    width: 50vw;
}



swiper-container{
    --swiper-pagination-color:#765142;
}
swiper-slide{
    padding-bottom:32px ;
}