<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tilbud</ion-title>
  </ion-toolbar>
</ion-header>














<ion-grid>
  <ion-row>

    <div class="btn-controller ion-text-center ion-no-padding ion-no-margin">

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>

        <ion-col size="12 ">
          <ion-button id="open-modal1" class="button-style">Netto</ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>

        <ion-col size="12">
          <ion-button id="open-modal2" class="button-style">Lidl</ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>

        <ion-col size="12">
          <ion-button id="open-modal3" class="button-style">Føtex</ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>


    </div>

  </ion-row>
</ion-grid>

<!-----------Modal-1------------>
<ion-modal [keepContentsMounted]="true" trigger="open-modal1" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Nettos Tilbudsavis</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">  


      
          <!-----Dette er swiper----->
        <swiper-container [pagination]="true" class="swiper1">

          <swiper-slide>
            <ion-img src="assets/Netto1.jpg"></ion-img>
          </swiper-slide>

          <swiper-slide>
            <ion-img src="assets/Netto2.jpg"></ion-img>
          </swiper-slide>

          <swiper-slide>
            <ion-img src="assets/Netto3.jpg"></ion-img>
          </swiper-slide>

          <swiper-slide>
            <ion-img src="assets/Netto4.jpg"></ion-img>
          </swiper-slide>

        </swiper-container>
          <!-----Dette er swiper----->



      
    </ion-content>
  </ng-template>
</ion-modal>
<!-----------Modal-1-end------------>


<!-----------Modal-2---------------->
<ion-modal [keepContentsMounted]="true" trigger="open-modal2" #modal2>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal2.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Lidl Tilbudsavis</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 


 <!-----Dette er swiper----->
 <swiper-container [pagination]="true" class="swiper2">

      <swiper-slide>
        <ion-img src="assets/Lidl2.jpg"></ion-img>
      </swiper-slide>

      <swiper-slide>
        <ion-img src="assets/Lidl3.jpg"></ion-img>
      </swiper-slide>

      <swiper-slide>
        <ion-img src="assets/Lidl4.jpg"></ion-img>
      </swiper-slide>

    </swiper-container>
      <!-----Dette er swiper----->


    </ion-content>
  </ng-template>
</ion-modal>
<!-----------Modal-2-end------------>


<!-----------Modal-3---------------->
<ion-modal [keepContentsMounted]="true" trigger="open-modal3" #modal3>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal3.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title >Føtex Tilbudsavis</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 

      <swiper-container [pagination]="true" class="swiper3">


        <swiper-slide>
          <ion-img src="assets/Fotex1.jpg"></ion-img>
        </swiper-slide>
      
        <swiper-slide>
          <ion-img src="assets/Fotex2.jpg"></ion-img>
        </swiper-slide>
      
        <swiper-slide>
          <ion-img src="assets/Fotex3.jpg"></ion-img>
        </swiper-slide>
    
    </swiper-container>
      <!-----Dette er swiper----->

    </ion-content>
  </ng-template>
</ion-modal>
<!-----------Modal-3-end------------>


