<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="default">
    <ion-segment-button value="default" (click)="navigateToIndkoeb()">
      <ion-label>Indkøb</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" (click)="navigateToTilbud()">
      <ion-label>Tilbud</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-toolbar>
    <ion-title class="ion-text-center">global-nav</ion-title>
  </ion-toolbar>
</ion-content>
